<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/feed.css">
  </head>
  <body>
    <!-- <nav>
      <div class="logo">
        <h5>LOGO</h5>
      </div>
      <ul class="navLink">
        <li><a href="#">About</a></li>
        <li><a href="#">Contact</a></li>
        <li><a href="#">Projects</a></li>
      </ul>
      <div class="lines">
        <div class="l1"></div>
        <div class="l2"></div>
        <div class="l3"></div>
      </div>
    </nav> -->

    <!-- <header>
      <h1>Pinterest Style Image Galley with Responsive Navigation Bar</h1>
    </header> -->

    <div class="container">
      <div class="box">
        <a
          href="https://media.istockphoto.com/id/1141549703/photo/on-the-wings-of-freedom-birds-flying-and-broken-chains-charge-concept.webp?b=1&s=170667a&w=0&k=20&c=RAlCPdx5nBx7Q3m8b7zrKrwmwK4cSOzHFE3ro0ryz5U="
        >
          <img
            src="https://media.istockphoto.com/id/1141549703/photo/on-the-wings-of-freedom-birds-flying-and-broken-chains-charge-concept.webp?b=1&s=170667a&w=0&k=20&c=RAlCPdx5nBx7Q3m8b7zrKrwmwK4cSOzHFE3ro0ryz5U="
            alt="image"
        /></a>
        <div class="caption">Lorem ipsum</div>
      </div>

      <div class="box">
        <a
          href="https://images.unsplash.com/photo-1570051008600-b34baa49e751?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTF8fGZyZWUlMjBpbWFnZXN8ZW58MHx8MHx8fDA%3D"
        >
          <img
            src="https://images.unsplash.com/photo-1570051008600-b34baa49e751?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTF8fGZyZWUlMjBpbWFnZXN8ZW58MHx8MHx8fDA%3D"
            alt="image"
        /></a>
        <div class="caption">Lorem ipsum</div>
      </div>

      <div class="box">
        <a
          href="https://plus.unsplash.com/premium_photo-1682091872078-46c5ed6a006d?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8OXx8ZnJlZSUyMGltYWdlc3xlbnwwfHwwfHx8MA%3D%3D"
        >
          <img
            src="https://plus.unsplash.com/premium_photo-1682091872078-46c5ed6a006d?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8OXx8ZnJlZSUyMGltYWdlc3xlbnwwfHwwfHx8MA%3D%3D"
            alt="image"
        /></a>
        <div class="caption">Lorem ipsum</div>
      </div>
      <div class="box">
        <a
          href="https://media.istockphoto.com/id/912928582/photo/success.webp?b=1&s=170667a&w=0&k=20&c=XsH7wA2fxPww_GvlNT68AQN4gsWpm1jM6YZSattMe64="
        >
          <img
            src="https://media.istockphoto.com/id/912928582/photo/success.webp?b=1&s=170667a&w=0&k=20&c=XsH7wA2fxPww_GvlNT68AQN4gsWpm1jM6YZSattMe64="
            alt="image"
        /></a>
        <div class="caption">Lorem ipsum</div>
      </div>
      <div class="box">
        <a
          href="https://images.unsplash.com/photo-1586810724476-c294fb7ac01b?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTl8fGZyZWUlMjBpbWFnZXN8ZW58MHx8MHx8fDA%3D"
        >
          <img
            src="https://images.unsplash.com/photo-1586810724476-c294fb7ac01b?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTl8fGZyZWUlMjBpbWFnZXN8ZW58MHx8MHx8fDA%3D"
            alt="image"
        /></a>
        <div class="caption">Lorem ipsum</div>
      </div>
      <div class="box">
        <a
          href="https://images.unsplash.com/photo-1585020430145-2a6b034f7729?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTh8fGZyZWUlMjBpbWFnZXN8ZW58MHx8MHx8fDA%3D"
        >
          <img
            src="https://images.unsplash.com/photo-1585020430145-2a6b034f7729?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTh8fGZyZWUlMjBpbWFnZXN8ZW58MHx8MHx8fDA%3D"
            alt="image"
        /></a>
        <div class="caption">Lorem ipsum</div>
      </div>
      <div class="box">
        <a
          href="https://images.unsplash.com/photo-1578645635737-6a88e706e0f1?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTV8fGZyZWUlMjBpbWFnZXN8ZW58MHx8MHx8fDA%3D"
        >
          <img
            src="https://images.unsplash.com/photo-1578645635737-6a88e706e0f1?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTV8fGZyZWUlMjBpbWFnZXN8ZW58MHx8MHx8fDA%3D"
            alt="image"
        /></a>
        <div class="caption">Lorem ipsum</div>
      </div>

    
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script src="app.js"></script>
  </body>
</html>
