<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta ame="viewport" content="width=device-width, initial-scale=1" />
    <title>Profile</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/stylesheets/profile.css" />
  </head>
  <body>
    <div class="containerp">
      <div class="cardp">
        <div class="profile-picture">
          <img
            src="https://media.istockphoto.com/id/1573329496/photo/multi-layers-color-texture-3d-papercut-layers-in-gradient-vector-banner-carving-art-cover.webp?b=1&s=170667a&w=0&k=20&c=fw4EudwOH6cg8roUz_A4ARgGIlz6na94y6TVUUzYz6k="
            alt="Profile Picture"
          />
        </div>
        <h2 class="name">UserName</h2>
        <h3 class="username">@username</h3>
        <p class="tagline">some Tagline</p>
        <p class="description">Some Descrption</p>
        <a href="#" class="button">Account Setting</a>
      </div>
    </div>
    <div class="container">
      <div class="card" style="width: 18rem">
        <img
          src="https://media.istockphoto.com/id/912928582/photo/success.webp?b=1&s=170667a&w=0&k=20&c=XsH7wA2fxPww_GvlNT68AQN4gsWpm1jM6YZSattMe64="
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title">all design</h5>
         </div>
      </div>
    </div>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
